*{word-wrap:break-word;}
body,input,button,select,textarea{font:12px/1.5 'Microsoft Yahei','Simsun';color:#444;}
textarea{resize:none;}
body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,.pr,.pc{margin:0;padding:0;}
table{empty-cells:show;border-collapse:collapse;}caption,th{text-align:left;font-weight:400;}
dl,ul li,.xl li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1em;}
em,cite,i{font-style:normal;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}

table{border-collapse:collapse;border-spacing:0;}
input{outline: none;}/* 屏蔽文本框高亮 */
textarea {outline: none;} 
/* 清理浮动 */
.clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear {zoom:1; /* for IE6 IE7 */}
.clear5{ clear:both; height:5px;}
.clear10{ clear:both; height:10px;}
.clear20{ clear:both; height:20px;}
.clear30{ clear:both; height:30px;}
/*去掉超链接虚线框*/
a{outline:none;}
a:active{noOutline:expression(this.onFocus=this.blur());}
:focus{outline:0;}

.fl{ float:left;}
.fr{ float:right;}

body{ background:#272727;}
html, body {height: 100%;}

	.header{ width:100%; height:710px; background:url(../images/topbg.jpg) center no-repeat;}
		.btnbox{ width:1000px; margin:0 auto;}
		a.btn_bm{ width:183px; height:82px; background:url(../images/btn_bm.png) center no-repeat; display:inline-block; margin:430px 0 0 20px;}
		a.btn_bm:hover{ background:url(../images/btn_bmon.png) center no-repeat;}
	.midbox{ width:100%; height:593px; background:url(../images/midbg.jpg) center no-repeat;}
		.midboxcon{ width:1000px; margin:0 auto;}
		.player{ width:345px; height:229px; padding:65px 0 0 200px;}
		.midtext{ color:#fff; font-size:12px; width:400px; margin:0 auto; padding:150px 0 0 20px; line-height:200%;}
	.thirdbox{ width:100%; height:585px; background:#272727 url(../images/thirdbg.jpg) top center no-repeat;}
		.tablebox{ width:1000px; height:585px; margin:0 auto; background:url(../images/tablebg.png) center no-repeat;}
			.table_left{ float:left; width:500px;}
				.tableform{ padding:236px 0 0 25px;}
				 ul.ultable{}
				 ul.ultable li{ width:174px; height:37px; padding-left:83px; margin-bottom:12px;}
				 ul.ultable li.li1{ width:122px;}
				 ul.ultable li.li2{ width:360px;padding-top:5px;}
				 ul.ultable li.li3{ padding-left:0px; margin-top:37px; }
				 .hRadio{display: inline-block; float:left; width:50px; margin-left:10px; height:37px; background:url(../images/radiobg.png) left center no-repeat;cursor:pointer;vertical-align:middle;}
				 .hRadio_Checked { background:url(../images/radiobgon.png) left center no-repeat;}
				 
				 .as{ text-indent:-9999em;}
				 .inputclass1{ border:none; background:none; width:120px; height:30px; line-height:30px; color:#333; padding:7px 0 0 2px;}
				 .inputclass2{ border:none; background:none; width:172px; height:30px; line-height:30px; color:#333; padding:7px 0 0 2px;}
				 .inputclass3{ border:none; background:none; width:103px; margin-right:15px; height:30px; line-height:30px; color:#333;padding:7px 0 0 2px;}
				 
				 label.checkbox {cursor:pointer;background:url(../images/checkbg.png) center no-repeat; width:20px; height:37px; line-height:37px; display:inline-block; } 
				label.checked { background:url(../images/checkbgon.png) center no-repeat} 
				label.disabled{ background:url(../images/checkbg.png) center no-repeat;}
				a.mztk{ display:inline-block; margin-left:58px; width:56px; height:37px; line-height:37px; cursor:pointer; }
				a.submit{ width:140px; height:39px; display:inline-block; background:url(../images/btn_submit.jpg) bottom center no-repeat;}
				a:hover.submit{ background:url(../images/btn_submit.jpg) top center no-repeat;}
			.table_img{ float:left; padding-top:30px; width:500px;}
	.sharebox{ width:100%; background:#272727; padding-top:20px; position:relative;}
		.hidebg3{width:100%; height:720px; background: #fff; filter:alpha(opacity=80);/*IE*/ opacity:0.8;/*FF*/ z-index:1; position:absolute; left:0;  top:0;}
		.hidebg3 h2{ font-size:48px; font-weight:800; color:#000; height:100px; line-height:100px; padding-top:260px; text-align:center;}
		.hidebg3 h3{ font-size:48px; font-weight:800; color:#f77105; height:100px; line-height:100px; text-align:center;}
		.sharecon{ width:1338px; margin:0 auto;}
		.sharetitle{ width:1325px; height:41px; padding-top:24px; background:url(../images/sharetitle.png) left center no-repeat;}
		.sharetitle a.btn_fanhui{float:right; display:inline-block; width:90px; height:40px; padding-right:15px; background:#fff url(../images/btn_fanhui.png) center no-repeat; text-indent:-9999em;}
		a.login_sina{ float:right; display:inline-block; width:165px; height:41px; background:url(../images/btn_login.png) left center no-repeat; margin-left:18px;}
		a.login_qq{ float:right;display:inline-block; width:165px; height:41px; background:url(../images/btn_login.png) right center no-repeat; margin-left:18px;}
		
		ul.sharelist{ width:1338px; margin:0 auto;}
		ul.sharelist li{ float:left; width:332px; height:608px;}
		.listbox{ position:relative;}
		.listbox a{ display:inline-block;}
		.listbox a img{ border:none;}
		.listbox_title{position:absolute; left:0; bottom:0; width:312px; padding:10px; height:100px; line-height:25px; font-size:12px; color:#fff; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000',endColorstr='#66000000');background:rgba(0,0,0,.6);}
		.listbox_title h2{ margin-bottom:10px;}
		.height2{height:35px;}
		
/*浮动层*/	
.mydiv{ width:640px; border:#dd8640 10px solid; height:330px; background:#272727; text-align: center; font-size: 12px; z-index:99;  position:absolute;/*FF IE7*/    }  
.hidebg { width:100%; height:100%; background: #000; filter:alpha(opacity=70);/*IE*/ opacity:0.7;/*FF*/ z-index:1; position:absolute;/*IE6*/ position:fixed; left:0; top:0;} 
.divimg{ clear:both; width:640px; margin:0 auto; text-align:center;}
.divimg h2{ text-align:center; padding-top:60px; height:90px;}
.divimg h3{ text-align:center; padding-top:30px;}

.mydiv2{ width:640px; border:#dd8640 10px solid; height:480px; padding:10px; background:#272727; text-align: center; font-size: 12px; z-index:99; position:absolute;/*FF IE7*/    }   
.divimg2{ clear:both; width:640px; height:480px; overflow:hidden; overflow-y:auto; margin:0 auto; text-align:center; color:#fff;}
.divimg2 h2{ text-align: center; height:40px; line-height:40px; font-size:16px; font-weight:800;}
.divimg2 p{ line-height:20px; text-align:left;}

.divbtn{ width:420px; height:40px; margin:20px auto;}
a.login_sina2{ display:inline-block; width:200px; height:40px; background:url(../images/btn_login2.png) left center no-repeat; margin-right:20px;}
a.login_qq2{ display:inline-block; width:200px; height:40px; background:url(../images/btn_login2.png) right center no-repeat;}

/*美化select*/
ul.ultable li select{display: block;}
ul.ultable li .select_box{font-size:14px;color:#333;width:104px; height:38px; line-height:38px; border: none; margin-right:16px; text-align:center; position:relative;}

a.icon_close{ width:40px; height:40px; background:url(../images/icon_close.png) no-repeat; position:absolute; right:-25px; top:-25px;}

/*绑定窗口*/
.divimg3{ clear:both; width:640px; margin:0 auto; text-align:center;}
.divimg3 h2{ text-align:left; padding:30px 0 0 30px; height:60px;}

ul.bangding{ padding-left:87px; width:274px; height:130px; background:url(../images/bangdingbg.png) no-repeat; margin:0 auto;}
ul.bangding li{ width:274px;height:36px; text-align:left; }
ul.bangding li.li1{ height:40px; color:#fff; font-size:14px; font-weight:400; text-align:left;}
ul.bangding li.li1 .admin_sina{ background:url(../images/icon_sina.png) right center no-repeat; padding-right:30px; margin-bottom:20px; height:20px; line-height:20px; display:inline-block;}
ul.bangding li.li1 .admin_qq{ background:url(../images/icon_qq.png) right center no-repeat; padding-right:22px; margin-bottom:20px; height:20px; line-height:20px; display:inline-block;}
ul.bangding li.li2{ padding-bottom:19px;}
ul.bangding li.li3{ padding-bottom:0px;}
	.inputclass4{ border:none; background:none; width:172px; height:36px; line-height:36px; color:#333; padding:0 0 0 2px; font-size:16px; font-weight:800;} 
.btn_div3{ width:300px; margin:20px auto;}
	a.btn_bd{ display:inline-block; width:140px; height:39px; background:url(../images/btn_bd.png) bottom no-repeat; text-indent:-9999em; margin-right:20px;}
	a.btn_bd:hover{ background:url(../images/btn_bd.png) top no-repeat;}
	a.btn_cancel{ display:inline-block; width:140px; height:39px; background:url(../images/btn_cancel.png) bottom no-repeat; text-indent:-9999em;}
	a.btn_cancel:hover{ background:url(../images/btn_cancel.png) top no-repeat;}
	
ul.travel_list{ width:1338px; padding-top:20px;}
ul.travel_list li{ float:left; margin-right:20px; position:relative;} 
ul.travel_list li a{ width:248px; height:248px; display:inline-block;}
ul.travel_list li a img{ width:246px; height:246px; border:none; margin:1px;}
ul.travel_list li a.btn_zan{ display:none; width:23px; height:23px; background:url(../images/icon_zan.png) center no-repeat; text-indent:-9999em; position:absolute; top:-23px; right:0;}
ul.travel_list li:hover{ border:#d8813b 1px solid; width:246px; height:246px;}
ul.travel_list li:hover a img{ margin:0;}
ul.travel_list li:hover a.btn_zan{ display:block;}
ul.travel_list li.five{ margin-right:0;}
ul.travel_list li div{ width:248px; height:30px; line-height:30px; text-align:left; font-size:14px; color:#fff;}

ul.tabnav{ width:258px; float:left; padding-left:320px;}
ul.tabnav li{ float:left; width:116px; height:40px; margin-right:13px;}
ul.tabnav li a.new_upload{ display:inline-block; width:116px; height:40px; background:url(../images/tabnavbg.png) left top no-repeat; text-indent:-9999em;}
ul.tabnav li a.new_upload:hover{ background:url(../images/tabnavbg.png) left bottom no-repeat;}
ul.tabnav li.choice a.new_upload{ background:url(../images/tabnavbg.png) left bottom no-repeat;}
ul.tabnav li a.hign_prase{ display:inline-block; width:116px; height:40px; background:url(../images/tabnavbg.png) right bottom no-repeat; text-indent:-9999em;}
ul.tabnav li a.hign_prase:hover{ background:url(../images/tabnavbg.png) right top no-repeat;}
ul.tabnav li.choice a.hign_prase{ background:url(../images/tabnavbg.png) right top no-repeat;}

ul.shareright{ float:right;}
ul.shareright li{ float:right; height:40px; background:#fff; margin-right:10px;}
ul.shareright li a.btn_fanhui{ display:inline-block; width:90px; margin-right:10px; height:40px; background:url(../images/btn_fanhui.png) center no-repeat; text-indent:-9999em;}
ul.shareright li a.btn_user{ display:inline-block; height:40px; line-height:40px; background:url(../images/btn_user.png) left center no-repeat; margin-left:15px; padding:0 15px 0 40px; font-size:22px; color:#de4832; text-align:left; text-decoration:none;}
ul.shareright li a.btn_share{ display:inline-block; width:200px; height:40px; background:url(../images/btn_right3.png) center no-repeat; text-indent:-9999em;}

ul.fenye{ float:right;}
ul.fenye li{ float:left; width:86px; height:30px;background:url(../images/fenyebgon.png) no-repeat; margin-right:20px;}
ul.fenye li.lidisable{ background:url(../images/fenyebg.png) no-repeat;}
ul.fenye li a{ display:inline-block; width:86px; height:30px; text-indent:-9999em;}
ul.fenye li a.btn_pre{ background:url(../images/text_pre.png) center no-repeat;}
ul.fenye li a.btn_next{ background:url(../images/text_next.png) center no-repeat;}

/*浮动层——上传*/	
.mydiv4{ width:960px; border:#dd8640 10px solid; height:450px; background:#272727; text-align: center; font-size: 12px; z-index:99;  position:absolute;/*FF IE7*/    }  
.divimg4{ clear:both; width:910px; margin:30px auto; text-align:center;}
.divimg4_left{ float:left; width:414px; margin-right:16px;}
.divimg4_left .imgbox{ width:414px; height:266px; margin-bottom:10px;}
.divimg4_left .liulan{ width:414px; position:relative;}
.divimg4_left  .liulan_input {position: absolute;left:0px;top:0; width:414px; height:40px;cursor: pointer;Opacity: 0;filter: alpha(opacity=0);}
.divimg4_left  .txt12 { border:none; text-align:left; width:292px; overflow: hidden; height:40px; line-high:40px; float: left; padding-left:40px; vertical-align: middle; background:url(../images/filebg.png) no-repeat; margin-right:10px;}
	/*浏览 按钮样式*/
	.btn_liulan a{ float:left; width:70px; height:40px; font-size:12px; line-height:40px; display:inline-block; text-align:center; cursor:pointer; margin:0 auto; background:url(../images/btn_liulan.png) bottom center no-repeat; color:#676767; text-indent:-9999em;}
	.btn_liulan a:link , .btn_liulan a:visited { background:url(../images/btn_liulan.png) bottom center no-repeat;}
	.btn_liulan a:hover{ background:url(../images/btn_liulan.png) top center no-repeat; text-decoration:none;}
	.btn_liulan a:active{ background:url(../images/btn_liulan.png) top center no-repeat; text-decoration:none;}
.divimg4_right{ float:left; width:480px;}
	.gushi_title{ width:480px; height:40px; background:#fff; line-height:40px; font-size:16px; font-weight:800; margin-bottom:10px; text-align:left;}
	.gushi_title span{ float:left; background:url(../images/text_title.png) center no-repeat; width:100px; height:40px; border-right:#ddd 1px solid; margin-right:10px;}
	.gushi_title input.inputclass6{border:none; background:none; width:360px; height:30px; line-height:30px; color:#333; padding:7px 0 0 2px; font-size:16px; font-weight:800;}
	.gushi_type{ width:480px; height:40px; background:#fff; line-height:40px; font-size:16px; font-weight:800; margin-bottom:10px;}
	.gushi_type span{ float:left; background:url(../images/text_type.png) center no-repeat; width:100px; height:40px; border-right:#ddd 1px solid;  margin-right:10px;}
	.gushi_content{ width:440px; height:176px; background:#fff; padding:20px; line-height:150%; text-align:left; font-size:14px; margin-bottom:10px;}
	.gushi_content textarea.areaclass{width:440px; height:176px; border:none; line-height:150%; text-align:left; font-size:14px;}
	.selectclass{ width:369px; height:40px; line-height:40px; border:none; background:none; font-size:16px; font-weight:800;}
	.btn_upload{ float:right; margin:10px 0 0 0; width:116px; height:40px; display:inline-block; border:none; background:url(../images/btn_upload.png) bottom center no-repeat; cursor:pointer;}
	.btn_upload:hover{ background:url(../images/btn_upload.png) top center no-repeat;}
	
.travel_content{ width:830px; background:#fff; margin:20px auto;}
	.travel_title{width:784px; height:30px; padding:35px 0; margin:0 auto; font-size:24px; font-weight:800; text-align:left;}
	.travel_title span{ font-size:14px; font-weight:400; color:#666; float:right; margin-top:10px; height:20px; line-height:20px;}
	.travel_img{ width:784px; margin:0 auto;}
	.travel_info{width:784px; margin:20px auto;}
	/* 美化滚动条 style */
	.scr_con {position:relative;height:160px;width:700px;margin:20px auto;}
	#dv_scroll{position:absolute;height:140px;overflow:hidden;width:670px;}
	#dv_scroll .Scroller-Container{width:100%;}
	#dv_scroll_bar {position:absolute;right:0;top:10px;width:14px;height:140px;border-left:1px solid #B5B5B5;}
	#dv_scroll_bar .Scrollbar-Track{position:absolute;left:0;top:20px;width:14px;height:140px;}
	#dv_scroll_bar .Scrollbar-Handle{position:absolute;left:-7px;top:0;width:13px;height:29px;overflow:hidden;background:url(../images/barbg.png) no-repeat;cursor:pointer;}
	#dv_scroll_text {position:absolute;}
	.gushi_about{ padding:10px; font-size:14px; font-weight:800;}
	
	a.btn_quxiao{ float:right; margin:10px 0 0 10px; width:116px; height:40px; display:inline-block; border:none; background:url(../images/btn_quxiao.png) bottom center no-repeat; cursor:pointer; text-indent:-9999em;}
	a.btn_quxiao:hover{ background:url(../images/btn_quxiao.png) top center no-repeat;}
	


